/* reset margin, padding */
body {
    margin: 0;
    padding: 0;
}

.banner {
    border: 1px solid red;
    height: 100px;
    width: 100%;
    background-image: url('./banner.jpg');
    background-position: center;background-repeat: no-repeat;
}